@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

:root {
  --header-background:  linear-gradient(269.94deg, #F2456E 11.71%, #7D63FB 37.59%, #64C9EF 66.08%, #B4FEC9 99.95%);
  --clickable: linear-gradient(90deg, #92EFAC 0%, #B4FEC9 105.5%);
  /* --male: linear-gradient(90deg, #90ECFF 0%, #C6F5FF 100%); */
  --male: #80f3e0;
  --female: #ff6c8c;
  /* --female: linear-gradient(90deg, #FEAAD5 0%, #FFD6EB 100%); */
  --team-1: linear-gradient(90deg, #37e697 0%, #80f3d6 100%);
  --team-2: linear-gradient(90deg, #64C9EF 0%, #7674FD 100%);
  --team-3: linear-gradient(90deg, #7D63FB 0%, #EB74F2 100%);
  --team-4: linear-gradient(90deg, #ec398d 0%, #FFA89C 100%);
}



*{
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
 height: 100vw;
}

body.freeze {
  position:  fixed;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  color: #000;
}

header {
  position: fixed;
  display: flex; 
  place-content: center center;
  width: 100vw;
  height: 57px;
  background: var(--header-background);
  margin-bottom: 1rem;
  top: 0;
  z-index: 20;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.screen-title {
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  margin: auto 0;
}

/* Home Screen Styles */
.home-btns {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.large-home-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 125px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  border: none;
  margin: 1rem 0;
  cursor: pointer;
  font-size: 16px;
}



.btn-icon {
  width: 50px;
  height: 50px;
  margin: 0 1rem 0 2.5rem;
}

.btn-icon img {
  width: 50px;
  height: 50px;
}

.btn-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
  width: 178px;
}
.bold-text {
  font-weight: 700;
  font-size: 22px;
}

#new-game {
  background: var(--clickable);
}

#in-progress {
  background: linear-gradient(90deg, #FFC086 0%, #FFDBBA 105.5%);
  
}

#manage {
  background: linear-gradient(90deg, #ff9cb9 0%, #FFA89C 100%);
}

/* Manage Players Styles */
.player-pool{
  margin-top: 10rem; 
  height: 100%;
  display: flex;
  justify-content: center;
}

#player-section {
  padding-bottom: 1rem; 
}

.hide-background{
  overflow: hidden; 
  height: 80vh;
  margin-top: 3rem;
}


.sort-by {
  position: relative; 
  display: flex; 
  justify-content: center;
  top: 5rem;
  z-index: -1;
}

.sort-section {
  position: relative;
  display: flex; 
  justify-content: center;
  z-index: 1;
}

.sort-selection {
  position: absolute; 
  width: 236px;
  height: 37px;
  background: #FFFFFF;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 27px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 6rem;
}

.sort-selection:before {
  content: '  ';
  position: absolute;
  left: 0;
  z-index: -1;
  background-color: #fff;
}

.sort-selector {
  position: absolute;
  width: 50%;
  height: 90%;
  left: 2px;
  transition: 0.4s;
  border-radius: 24px;
  background: linear-gradient(90deg, #37e697 0%, #80f3d6 100%);
}

.sort-selector::before {
  position: absolute;
  content: "";
  width: 118px;
  height: 90%;
  top: 2px;
  bottom: 2px;
  left: 2px;
  border-radius: 24px;
  -webkit-transition: .4s;
  transition: .4s;
}

.sort-label {
  width: fit-content;
  z-index: 1;
  font-size: 20px;
  cursor: pointer;
}



input#sort-first-manage:checked ~ #manage-sort-selector {
  transform: translateX(96%);
  background: linear-gradient(90deg, #D94B8D 0%, #FFA89C 100%);
}

/* input#sort-last-manage:checked ~ #manage-sort-selector {
  transform: translateX(0%);
  background: linear-gradient(90deg, #EC76FF 3.12%, #FFABD3 87.5%);
} */


.player-obj {
  display: flex; 
  align-items: center;
  border-radius: 34px;
  margin: 0.8rem; 
  width: 284px;
  height: 59px;
  cursor: pointer;
}

.male {
  border: 5px solid var(--male);
}

.female {
  border: 5px solid  var(--female);
}

.player-name { 
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 1rem; 
} 

.player-last-name {
  margin: 0; 
}

.player-first-name {
  margin: 0; 
}

.make-bold {
  font-weight: bold; 
}

.player-rating {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 2rem; 
  width: 25%;
  height: 100%;
  margin-right: 1.5rem;
}

#update-positioner {
  display: flex;
  justify-content: space-evenly;
}

.edit-player-icon {
  margin-left: 1.5rem; 
  cursor: pointer;
  color: #000;
}

#alpha-menu{
  display: none;
  position: fixed; 
  flex-direction: column;
  align-items: center;
  margin: 0 1rem; 
  cursor: pointer;
}

.letters:hover {
  display: flex; 
  align-items: center;
  justify-content: center;
  transform: scale(1.1);
  border-radius: 50%;
  background: linear-gradient(0deg, #F4F4F4, #F4F4F4);
  border: solid 1px #000;
  padding: 0 5px;
}

#add-btn {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0 0.5rem 1rem 0; 
  height: 76px;
  width: auto;
  cursor: pointer;
}

/* Edit/Add Modals Styles */
.manage-modals {
  display: none; 
  width: 100vw;
  height: 100vh;
  justify-content: center;
  position: relative; 
  background-color:rgba(14, 14, 14, 0.71);
  z-index: 100;
}

.manage-modal {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 75vh;
  width: 85vw;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem 1rem 1rem 1rem;
  margin: auto 0;
  z-index: 10; 
}

@media screen and (max-device-width: 640px){
  .manage-modal {
    margin-top: 20%;
  }
}

.manage-form {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.manage-title {
  font-weight: normal; 
  font-size: 20px;
  margin-bottom: 1rem;
}

.position-btns {
  width: 100%;
  display: flex; 
  justify-content: space-between;
  margin-bottom: 1rem;
  max-width: 500px;
}

.manage-btns, .manage-cancel, .manage-submit {
  width: 114px;
  height: 52px;
  border-radius: 13px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  font-weight: bold; 
  cursor: pointer;
  font-size: 20px;
}


.manage-cancel {
  border: 2px solid #313E32;
  background: white;
 
}

.manage-submit {
  border: none; 
  background: #A4FBBC;

}

#confirm-delete, #no {
  font-size: 1rem;
  width: 9rem;
}

#confirm-delete {
  border: none;
  color: #fff;
  background: #FF0000;
  
}

#edit-player-form {
  display: none; 
}

#add-player-form {
  display: none; 
}

.name {
  position: relative;
  width: 272px;
  height: 48px;
  background: transparent;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  color: #000;
}

input[type="text"]{
  border: 1px solid rgba(0, 0, 0, 0.25);
}


::placeholder {
  color:rgba(36, 32, 32, 0.589);
  font-weight: 500;  
}



#player-id {
  display: none;
}

.trash {
  margin-top: 1rem;
  height: 3rem;
  cursor: pointer;
}

#delete-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto; 
  max-width: 80%;
  padding: 1rem 0rem; 
}

.message-modal {
  display: none; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute; 
  background-color:  white;
  z-index: 10;
  width: 80%;
  height: auto; 
  padding: 2rem;
  bottom: 50; 
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  border: 2px solid #313E32;
  border-radius: 13px;
}

.message-modal p {
  text-align: center;
  font-size: 1.2rem;
}

.message-options {
  padding: 1rem;
  border-radius: 13px;
  border: none; 
  background: #A4FBBC;
  width: auto;
}

.message-modal-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 2rem 0 2rem;
  width: 100%;
  cursor: pointer;
}

#ok {
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
}


/* All Radio Buttons */
.rating-positioner {
  position: relative;
  display: flex; 
  align-items: center;
  justify-content: space-around;
  /* border: solid 2px green; */
}

input[type='radio']{
  opacity: 0; 
  position: absolute; 
 }

 .better-rating {
  position: relative;
  left: 4px;
  height: 50px;
}

.worse-rating{
  position: relative;
  right: 7px;
  height: 50px;
}

/* Gender Selectors */
.gender-selection {
  position: relative; 
  margin: 1rem 0; 
  padding: 0 1rem; 
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 27px;
  width: 100%;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gender-selection:before {
  content: '  ';
  position: absolute;
  left: 0;
  z-index: -1;
  background-color: #fff;
}

.gender-selector {
  position: absolute;
  width: 118px;
  height: 90%;
  left: 2px;
  transition: 0.4s;
  border-radius: 24px;
  background: linear-gradient(90deg, #8790FF 0%, #90ECFF 100%);
}

.gender-selector::before {
  position: absolute;
  content: "";
  width: 118px;
  height: 90%;
  top: 2px;
  bottom: 2px;
  left: 2px;
  border-radius: 24px;
  -webkit-transition: .4s;
  transition: .4s;
}


.gender-label {
  width: fit-content;
  z-index: 10;
  font-size: 20px;
  cursor: pointer;
}

#male-label, #edit-male-label {
  padding: 0 20px;
}

#female-label, #edit-female-label {
  margin-right: 8px;
  padding: 0 5px;
}

input#female:checked ~ #gender-selector, input#edit-female:checked ~ #edit-gender-selector{
  transform: translateX(134%);
  background: linear-gradient(90deg, #EC76FF 3.12%, #FFABD3 87.5%);
}

/* Rating Selectors */
.rating-selection {
  position: relative; 
  /* margin: 2rem 0;  */
  width: 236px;
  height: 37px;
  background: #FFFFFF;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 27px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.rating-selection:before {
  content: '  ';
  position: absolute;
  left: 0;
  z-index: -1;
  background-color: #fff;
}

.rating-selector {
  position: absolute;
  width: 42px;
  height: 33px;
  left: 2px; 
  border-radius: 24px;
  background: var(--clickable);
  -webkit-transition: .4s;
  transition: 0.4s;
}

.rating-selector::before {
  position: absolute;
  width: 42px;
  height: 33px;
  left: 2px; 
  position: absolute;
  content: "";
  border-radius: 24px;
  -webkit-transition: .4s;
  transition: .4s;
}

.rating-label {
  font-size: 20px;
  cursor: pointer;
  width: 20%;
  text-align: center;
  z-index: 10;
}

input#two:checked ~ #rating-selector, input#edit-two:checked ~ #edit-rating-selector {
  transform: translateX(47.2px);
  background: linear-gradient(90deg, #56F8AF -11.9%, #9CEDFF 100%);
}

input#three:checked ~ #rating-selector, input#edit-three:checked ~ #edit-rating-selector {
  transform: translateX(94.4px);
  background: linear-gradient(90deg, #64C9EF -11.9%, #7674FD 100%);
}

input#four:checked ~ #rating-selector, input#edit-four:checked ~ #edit-rating-selector {
  transform: translateX(141.6px);
  background: linear-gradient(90deg, #7D63FB -11.9%, #EB74F2 100%);
}

input#five:checked ~ #rating-selector, input#edit-five:checked ~ #edit-rating-selector {
  transform: translateX(188.8px);
  background: linear-gradient(90deg, #D94B8D -11.9%, #FFA89C 100%);
}

/* Event Attendance Styles */
table {
  width: 100vw;
  margin: 3.5rem 0.2rem 0 0;
  border-collapse: collapse;
}

tbody {
  overflow: hidden;
}

.selected {
  font-weight: bold;
  background-color: #e2ddf8bc;
  /* animation: selectedColor 1s; */
}

/* .selected::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: 0; 
  width: 100%;
  height: 100%; 
  background: #e2ddf8;
  animation: select 0.1s;
  z-index: -1;
} */


/* @keyframes select {
  0% {
    transform: translateX(-100%);
    border-radius: 0 60px 60px 0;
  }
  75% {
    border-radius: 0 60px 60px 0;
  }
  100% {
    transform: translateX(0%);
    border-radius: 0;
  }
} */

tr {
  text-align: left;
  transition: background 0.1s ease-in-out;
}


.table-row td {
  border-bottom: solid 0.2px #424040;
  border-collapse: collapse;
}

.table-row td:not(:first-child){
  border-left: solid 0.2px #424040;
  padding: 0.5rem 0 0.5rem 1rem;
  
}

.table-row td:first-child {
  width: 10%;
  text-align: center;
}


th {
  padding: 0.5rem;
  top: 3.5rem;
  position: sticky;
  background: white;
  width: 100vw;
  font-weight: 400;
  border-bottom: solid 2px #424242;
  z-index: 20;
}

.header-title {
  border-left: solid 0.2px #424040;
  cursor: pointer;
  color: #757575;
}

.to-home-link{
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0 0 1rem 1rem;
  cursor: pointer;
  display: flex;
  place-content: center;
  background: var(--clickable);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  padding: 1.2rem 1rem;
}

.to-home-arrow {
  transform: rotate(180deg);
  width: 2rem;
}

#first-name-arrow, #last-name-arrow {
  padding-left: 1rem;
  color: #CFCFCF;
}

#spacer-check input {
  visibility: hidden; 
}

input[type="checkbox"] {
  transform: scale(1.8);
}

.submit-positioner {
  position: relative;
  bottom: 0; 
  height: 7rem;
  width: 100vw; 
  display: flex; 
  align-items: center;
  justify-content: flex-end;
}


.form-submit {
  position: fixed; 
  bottom: 0;
  background: var(--clickable);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  border: none;
  width: 50px;
  height: 50px;
  margin: 1.5rem 1rem;
  padding: 2rem;
  display: flex; 
  justify-content: space-around;
  align-items: center;
  transition: transform 0.2s, width 0.5s, border-radius 0.5s 0.1s;
}


.large-btn {
  width: 263px;
  height: 66px;
  border-radius: 13px;
  display: flex; 
  justify-content: space-around;
  align-items: center;
  transition: transform 0.2s, width 0.5s;
  transform: translateX(-20%);
  cursor: pointer;
}

/* #attendance-btn {
  position: fixed; 
  bottom: 0;
  display: flex; 
  justify-content: space-around;
  align-items: center;
  background: var(--clickable);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  border: none;
  width: 263px;
  height: 66px;
  margin: 2rem 0;
  padding: 0 1rem;

} */

#blur-box {
  position: fixed;
  bottom: 0; 
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.42107265269389005) 0%, rgba(255,255,255,0.802025033646271) 100%);
  height: 80px;
  width: 100vw;
  z-index: 100;
}

#btn-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

#btn-text.large {
  position: relative;
  opacity: 1;
  transition: opacity 0.5s 0.5s;
}


#btn-text span {
  font-weight: bold;
  font-size: 1.1rem; 
}

#arrow-right {
  width: 27px;
}

/* Team styles */

#team-display {
  position: relative;
  height: 100vh;
  width: 100%;
}

#column-positioner {
  display: flex;
  width: 100%;
  height: auto; 
} 

.team-column {
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-container {
  width: 100%; 
  height: 2rem;
  display: flex; 
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  color: white;

}


.name-input {
  display: none; 
  position: absolute; 
  text-align: center;
  height: 2rem;
  font-size: 1.5rem; 
  width: 10rem;
}



.edit-name-pen {
  margin-left: 0.5rem; 
  font-size: 0.5rem;
}

.team-1-color {
  background: var(--team-1);
}

.team-2-color {
  background: var(--team-2);
}

.team-3-color {
  background: var(--team-3);
  
}

.team-4-color {
  background: var(--team-4);
}

.team-1-player {
  --rgb: 86, 248, 175;
}


.team-2-player {
  --rgb: 100, 201, 239;
}

.team-3-player {
  --rgb: 235, 116, 242;
}

.team-4-player {
 --rgb: 255, 168, 156
}

.rating-1 {
  background: rgba(var(--rgb), 1);
}

.rating-2 {
  background: rgba(var(--rgb), 0.8);
}

.rating-3 {
  background: rgba(var(--rgb), 0.6);
}

.rating-4 {
  background: rgba(var(--rgb), 0.4);
}

.rating-5 {
  background-color: rgba(var(--rgb), 0.3);
}


.team-player {
  padding: 0.8rem; 
  display: flex; 
  align-items: center;
  border-radius: 59px;
  margin: 0.5rem 1rem; 
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 0.8rem;
}

/* Selecting number of teams */
.num-btns {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.team-num {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 125px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  border: none;
  margin: 3rem 0;
  cursor: pointer;
  font-size: 16px;
  background: var(--clickable);
  padding: 1rem;
}

.team-num span {
  font-size: 4.5rem;
  font-weight: bold;
}

/* Swapping team players */
.swapping {
  border: dashed 2px rgba(var(--rgb, 1));
  background-color: rgba(var(--rgb), 0.3)
}

#queue {
  position: fixed;
  bottom: 0; 
  background-color: rgba(36, 32, 32, 0.62);
  width: 100vw;
  height: 100px;
  padding: 1rem;
}


.queue-text {
  font-style: italic; 
  font-weight: 400;
  color: white;
}

#queued-player, #second-queue {
  background-color: rgba(var(--rgb), 1);
  margin: 0.2rem;
}

.cancel {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2rem;
  padding: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

#confirm-swap {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#player-swap-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swap-text {
  font-style: italic; 
  color: white;
  text-align: center;
}

#swap-question{
  font-weight: 700;
  font-size: 1.5rem;
  margin: 4rem 0;
}

#position-btn{
  position: relative;
  width: 90%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.swap-btns{
  width: 126px;
  height: 74px;
  border-radius: 13px;
  font-size: 1.5rem;
  cursor: pointer;
}

#swap {
  background-color: #A4FBBC;
  border: none;
}

#cancel-swap {
  border: 6px solid #FF6868;
  color:#FF6868;
  background-color: transparent;
}

.arrows {
  color: rgba(255, 255, 255, 0.67);
  font-size: 4rem; 
}

#arrow-positioner{
  margin: 2rem 0;
}

@media screen and (max-device-width: 640px) and (orientation: landscape){
  
  body {
    overflow-y: hidden;
  }
  
  #team-display {
    width: 100vw;
  }

 #player-swap-cont {
   flex-direction: row;
 }

 #swap-question {
   margin: 0 0 1rem 0;
 }

 #position-btn{
  margin: 1rem 0 0 0;
  width: 50%;
 }

 #arrow-positioner {
   transform: rotate(90deg);
 }

 .swap-text{
   padding-bottom: 1rem;
 }
}